@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
.card__stars {
  justify-content: space-between;
  margin: 16px 0 24px;
  display: flex;
}

.stars {
  display: flex;
}

.stars__star {
  background-image: url("star.fa806e3c.svg");
  background-position: center;
  background-repeat: no-repeat;
  gap: 4px;
  width: 16px;
  height: 16px;
}

.stars--1 > .stars__star:nth-child(-n+1), .stars--2 > .stars__star:nth-child(-n+2), .stars--3 > .stars__star:nth-child(-n+3), .stars--4 > .stars__star:nth-child(-n+4), .stars--5 > .stars__star:nth-child(-n+5) {
  background-image: url("star-active.2be54011.svg");
}

.main__container {
  grid-template-columns: repeat(1, 200px);
  justify-content: center;
  align-items: center;
  gap: 46px 48px;
  padding: 50px 40px;
  display: grid;
}

@media (width >= 488px) {
  .main__container {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (width >= 768px) {
  .main__container {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (width >= 1024px) {
  .main__container {
    grid-template-columns: repeat(4, 200px);
  }
}

.container {
  color: #060b35;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  box-shadow: 0 2px 4px #0000000d;
}

.logo {
  width: 40px;
  height: 40px;
  display: block;
}

.logo__image {
  width: 100%;
  height: 100%;
}

.nav__list {
  text-transform: uppercase;
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__item {
  margin-left: 20px;
  list-style: none;
  transition: color .3s;
}

.nav__item:hover {
  color: #00acdc;
}

.nav__item:first-child {
  color: #00acdc;
  margin-left: 0;
}

.nav__link {
  text-transform: uppercase;
  cursor: pointer;
  align-items: center;
  height: 60px;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.is-active:after {
  content: "";
  background-color: #00acdc;
  border-radius: 8px;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.card {
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  flex-direction: column;
  width: 200px;
  padding-left: 16px;
  padding-right: 16px;
  transition: transform .3s;
  display: flex;
}

.card:hover {
  transform: scale(1.2);
}

.card__image-img {
  height: 134px;
  margin: 32px 3px 40px;
}

.card__product-name {
  color: #060b35;
  margin: 0 0 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.card:hover .card__product-name {
  color: #34568b;
  transition: color .3s;
}

.card__code {
  color: #616070;
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.card__stars-reviews {
  color: #060b35;
  align-items: end;
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  display: flex;
}

.card__price {
  justify-content: space-between;
  align-items: center;
  margin: 0 0 16px;
  display: flex;
}

.card__price-name {
  color: #616070;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.card__price-price {
  color: #060b35;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.card__buy-button {
  color: #fff;
  background-color: #00acdc;
  border: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  transition: background-color .3s, color .3s;
  display: flex;
}

.card__buy-button:hover {
  color: #00acdc;
  background-color: #fff;
  border: 1px solid #00acdc;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}
/*# sourceMappingURL=index.e378193d.css.map */
